COMEDIAN_SLACK_TOKEN=token
COMEDIAN_DATABASE=user:pass@tcp(addr:3306)/dbname?parseTime=true
COMEDIAN_HTTP_BIND_ADDR=0.0.0.0:8080
COMEDIAN_NOTIFIER_CHECK_INTERVAL=15
COMEDIAN_MANAGER=manager
COMEDIAN_DIRECT_MANAGER_CHANNEL_ID=someID
COMEDIAN_REPORT_TIME=17:00
COMEDIAN_DEBUG=true